# Virtual Environment
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE / Editor
.vscode/
.idea/

# Jupyter Notebook (if used later)
.ipynb_checkpoints/

# Build / dist
build/
dist/
*.egg-info/

# Temporary files
*.tmp
*.swp